@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --border-color: #F3F3F3;
    --border-color-input: #D7D7D7;
    --button-color: #3B49DF;
    --text-button-color: #F9F9F9;
  }
}

body {
  background-color: #f5f5f5; 
}

